.seperate-area{
    width: 100%;
    padding: 50px 0;
    height: auto;
    text-align: center;
    background-color: #f3f3f3;
    font-size: 12px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    line-height: 16px;
    color: #7e7e7e;
}