.nav-container{
    position: fixed;
    height: fit-content;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background-color: black;
    text-align: center;
    z-index: 99;
}
.item-wrap{
    margin: 0;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 0;
}
label{
    margin: 15px;
}
.actived-style{
    border-bottom: 1px solid;
}
label:hover{
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    unicode-bidi: bidi-override;
    direction: rtl;
}
.selected {
    border-bottom: 1px solid black;
}
